#u {
  color: #999;
  padding: 6px 10px 5px 0;
  text-align: right;
}

.full-search-bar {
  width: 62%;
  padding-top: 120px;
  margin: 0 auto 38px;
  position: relative;
}

.search-input-item {
  padding: 10px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.unstyled {
  margin-left: 0;
  list-style: none;
}

.item-stream {
  background-color: whiteSmoke;
  border: 1px solid #D8D8D8;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.stream-item {
  position: relative;
  background-color: whiteSmoke;
  padding: 6px;
}

input, button, select, textarea {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.full-search-bar form {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.full-search-bar form input[type="text"] {
  height: 35px;
  float: left;
  font-size: 20px;
  line-height: 24px;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
  border-right: 0;
  width: 92%;
  margin-bottom: 0;
  display: inline-block;
}

.full-search-bar form button[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
  width: 46px;
  height: 46px;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}

.btn-inverse {
  background-color: #414141;
  background-image: -moz-linear-gradient(top, #555, #222);
  background-image: -ms-linear-gradient(top, #555, #222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#222));
  background-image: -webkit-linear-gradient(top, #555, #222);
  background-image: -o-linear-gradient(top, #555, #222);
  background-image: linear-gradient(top, #555, #222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  border-color: #222 #222 black;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.nav {
  float: right;
  display: block;
  margin: 6px 10px 0 8px;
  position: relative;
  line-height: 1;
}

#userpic {
  display:inline;
}
#sinalogin {
  display:inline;
}
#username {
  display:inline;
}

.highlightText {
  width: 61.8%;
  margin-left:11.8%;  
  position: relative;
  font: normal 20px 'calibri';
  color: #999;
  padding: 20px;
  background-color: #F3F8E4;
  border-radius: 10px;
  moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-top: 1px #D1DEB6 solid;
  border-left: 1px #D1DEB6 solid;
}

.sinalogin a{ width:86px; height:18px;  background:url(../../loginbtn_04.png); text-decoration:none; background:red;}

#home {border:1px solid #dddddd; border-radius:4px; background:#fff; }
#home:hover{ border:1px solid #cccccc; cursor:pointer; color:#ccc; background:#fff; }

.wb-k{ border:2px solid #73004f; padding:5px;  border-radius:10px; width:813px; margin:0px auto; margin-top:24px;}

.highlightText{ margin:0px; width:770px; margin-bottom:14px; margin-top:8px;}

.alert {
  width: 49%;
  margin-left:23.5%;
  cursor: pointer;
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #C09853;
}

.alert-info {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  color: #3A87AD;
}
