{% extends "layout.html" %}
{% block body %}
  <div class="container">
	<ul class="pager">
      <li class="next">
        <a onclick=reloadPage()>更多&rarr;</a>
      </li>
	</ul>
    <div class="row">
      <div class="span12 sigma-parent">
        <div class="sigma-expand" id="sigma">
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    function reloadPage()
    {
      window.location.reload()
    }
 
	function init() {
    /**
     * First, let's instanciate sigma.js :
     */
    var sigInst = sigma.init($('#sigma')[0]).drawingProperties({
      defaultLabelColor: '#fff'
    }).graphProperties({
      minNodeSize: 0.5,
      maxNodeSize: 5
    });

    // (requires "sigma.parseGexf.js" to be executed)
    sigInst.parseGexf('/status?id={{ id }}');

    (function(){
      var popUp;

      function attributesToString(attr) {
        return '<ul>' +
          attr.map(function(o){
	    if (o.attr == "img_url") {
	      return '<img src="' + o.val +'" >'
	    }
	    if (o.attr == "weibo_url") {
	      return '<a href="' + o.val +'" target="_blank" >点击访问此微博</a>'
	    }
            return '<li>' + o.attr + ' : ' + o.val + '</li>';
          }).join('') +
          '</ul>';
      }

      function showNodeInfo(event) {
        popUp && popUp.remove();

        var node;
        sigInst.iterNodes(function(n){
          node = n;
        },[event.content[0]]);

        popUp = $(
          '<div class="node-info-popup"></div>'
        ).append(
          attributesToString( node['attr']['attributes'] )
        ).attr(
          'id',
          'node-info'+sigInst.getID()
	).mouseleave(
	  hideNodeInfo  
	).css({
          'display': 'inline-block',
          'border-radius': 3,
          'padding': 5,
          'background': '#fff',
          'color': '#000',
          'box-shadow': '0 0 4px #666',
          'position': 'absolute',
          'left': node.displayX,
          'top': node.displayY+15
        });

        $('ul',popUp).css('margin','0 0 0 20px');

        $('#sigma').append(popUp);
      }

      function hideNodeInfo(event) {
        popUp && popUp.remove();
        popUp = false;
      }

      sigInst.bind('overnodes',showNodeInfo).draw();
    })();
  }

  if (document.addEventListener) {
    document.addEventListener('DOMContentLoaded', init, false);
  } else {
    window.onload = init;
  }
  </script>
  <style type="text/css">
    /* sigma.js context : */
    .sigma-parent {
      position: relative;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      background: #222;
      height: 780px;
    }
    .sigma-expand {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .buttons-container{
      padding-bottom: 8px;
      padding-top: 12px;
    }
  </style>
{% endblock %}
