<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>simple graph</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
      }
    </style>
    <link href="../static/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../static/assets/css/style.css" rel="stylesheet">
 
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../static/assets/ico/favicon.ico">
  </head>

  <ul class="nav">
    <li>
      <a id="home" class="btn disabled" href="/">
        Home
      </a>
    </li>
  </ul>
  <div id="u">
    <div id="username">欢迎{% if user %} {{ ", "+user.screen_name }} {% endif %}</div>
    <div id="userpic" style="display:{{ btnuserpicvisible }};">
      <a href="/"><img src="{% if user %} {{ user.profile_image_url }} {% endif %}" alt="userpic" width=25px height=25px></a>
    </div> 
    <div id="sinalogin" class="sinalogin" style="display:{{ btnloginvisible }};">
      <a href="{{ url }}"><img src="../static/loginbtn_04.png" alt="微博登录"></a>
    </div> 
  </div>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="alert alert-info">
        {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {% block body %}{% endblock %}
</html>
