<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>锐推图谱</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico')}}">
    {% block head_meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}
    {% block head_css %}
        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    {% endblock %}
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block page_body %}
        <div class="container-fluid">
            <div class="masthead">
                <ul class="nav nav-pills pull-right">
                    <li>
                        <a id="home" class="btn disabled" href="/">
                            Home
                        </a>
                    </li>
                </ul>
            </div>
            <div id="u">
                <div id="username">欢迎{% if screen_name %} {{ ", "+screen_name }} {% endif %}</div>
                <div id="userpic" style="display:{{ btnuserpicvisible }};">
                    <a href="/"><img src="{% if profile_image_url %} {{ profile_image_url }} {% endif %}" alt="userpic" width=25px height=25px></a>
                </div>
                <div id="sinalogin" class="sinalogin" style="display:{{ btnloginvisible }};">
                    <a href="{{ url }}"><img src="{{ url_for('static', filename='img/weibo-login.png') }}" alt="微博登录"></a>
                </div>
            </div>

            {% with messages = get_flashed_messages(with_categories=True) %}
              {% if messages %}
                {% for category, m in messages %}
                  {% if category == 'error' %}
                  <div class="alert alert-error">
                  {% else %}
                  <div class="alert">
                  {% endif %}
                    <a href="#" class="close" data-dismiss="alert">x</a>
                    {{ m }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            {% block body %}{% endblock %}
        </div>
    {% endblock %}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    {% block script %}
    {% endblock %}

    {% block tail %}
    {% endblock %}
  </body>
</html>
