{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="full-search-bar">
      <ul class="item-stream unstyled search-input-stream">
          <li class="stream-item stream-header search-input-item">
          <form class="form-inline search-form" action="/search">
            <input class="xlarge" id="search" name="q" type="text" placeholder="请输入微博昵称..." value="" role="textbox">
            <button class="btn btn-large btn-inverse" id="artist_submit" type="submit"><i class="icon-search icon-white"></i></button>
          </form>
	</li>
      </ul>
    </div>
  </div> <!-- /container -->
{% endblock %}
