{% extends 'master.html' %}
{% block body %}
  <script>
    var options, a;
    jQuery(function(){
      options = { 'serviceUrl':'suggest' };
      a = $('#query').autocomplete(options);
    });
  </script>
  <div class="container">
    <div class="full-search-bar">
      <ul class="item-stream unstyled search-input-stream">
          <li class="stream-item stream-header search-input-item">
          <form class="form-inline search-form" action="/search">
            <input class="xlarge" id="query" name="q" type="text" placeholder="请输入微博昵称..." value="" role="textbox">
            <button class="btn btn-inverse" type="submit">
                <i class="icon-search icon-white"></i>
            </button>
          </form>
          </li>
      </ul>
    </div>
  </div>
{% endblock %}
