{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div id="user">
      {% if statuses %}
        <p>
	  <img src="{{ tar_profile_image_url }}" />
	  <a href="/search?q={{ tar_screen_name }}">{{ tar_screen_name }}</a>
	  {{ tar_location }}
	</p>
      {% endif %}
      <form action="/search">
	<input name="t" type="text" placeholder="搜索此用户最近的微博">
	<input name="u" type="hidden" value="{{ u }}">
      </form>	
    </div>
 
    {% if statuses != [] %}
      <div id="weibos">
        <div class="wb-k">
  	  {% if statuses %}
	    {% for status in statuses %}
	      <div class="highlightText">
                <a href="/graph?id={{ status.id }}">
	          <h3 class="statustitle">{{ status.text }}</h3>
	        </a>
	        <p class="ct-tags">
	          <a href="{{ status.weibo_url }}" class="ct-tags">去新浪微博</a>
		  <a href="/graph?id={{ status.id }}" class="ct-tags">此微博图谱</a>
	          {% if "retweeted_status" in status %}
		  <a href="/graph?id={{ status.retweeted_status.id }}" class="ct-tags">源微博图谱</a>
		  {% endif %}
	        </p>

	        {% if "retweeted_status" in status %}
		  <p class="statuscontent">{{ status.retweeted_status.text }}</p>
	        {% endif %}
	        <h3 class="repostcount">转发:{{ status.reposts_count }} 评论:{{ status.comments_count }}</h3>
       	      </div>
	    {% endfor %}
	  {% endif %}
        </div>
      </div>
    {% endif %}
    <div id="p_nav">
      {% if p > 1 %}
        <a href="/search?t={{ t }}&q={{ q }}&p={{ p - 1 }}&u={{ u }}">上一页</a>
         | 
      {% endif %}
      <a href="/search?t={{ t }}&q={{ q }}&p={{ p + 1 }}&u={{ u }}">下一页</a>
    </div>
  </div> <!-- /container -->
{% endblock %}
